<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1059469262977-qsahrc0c907u7mnqae3325uuibgnmghm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059469262977-qsahrc0c907u7mnqae3325uuibgnmghm</string>
	<key>API_KEY</key>
	<string>AIzaSyAVfEcK5GaOVQJDCAknj-9tUYwBWhfVhkM</string>
	<key>GCM_SENDER_ID</key>
	<string>1059469262977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeansantiuste.Flash</string>
	<key>PROJECT_ID</key>
	<string>quizzer-51e49</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzer-51e49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059469262977:ios:dbf76c2b4ad8f68b</string>
	<key>DATABASE_URL</key>
	<string>https://quizzer-51e49.firebaseio.com</string>
</dict>
</plist>